# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json